<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Indicateurs heuristiques</title>
        <link rel="Stylesheet" type="text/css" href="./css/bootstrap.css" />
        <link rel="Stylesheet" type="text/css" href="./css/style.css" />
        <script type="text/javascript" src="./js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="./js/jquery.masonry.min.js"></script>
        <script type="text/javascript" src="./js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="./js/dialog.js"></script>
        <script type="text/javascript" src="./js/filter.js"></script>
    </head>
    <body>
       <div class="navbar navbar-fixed-top">
           <div class="navbar-inner">
               <div class="container">
                   <a class="brand" href="/">Indicateurs heuristiques</a>
                   <form method="get" class="navbar-search pull-right" id="search">
                       <input type="text" name="q" class="search-query"
                           placeholder="Rechercher" value="{{ query }}" />
                   </form>
               </div>
           </div>
       </div>

        <div class="container">
            <header>
                <blockquote>
                    <p>Clean code that works</p>
                    <small>Kent Beck</small>
                </blockquote>
            </header>

            <section id="messages">
                <div class="alert alert-error"></div>
            </section>

            <nav class="row">
                {% set i = 0 %}
                {% for title, rules in sections %}
                    <div class="span4 well{{ cycle([' clear', '', ''], i) }}">
                        <ul class="nav nav-list">
                            <li class="nav-header">{{ title }}</li>
                            {% for rule in rules %}
                                <li>
                                    <a href="#{{ rule.id }}">
                                        <span class="icon-chevron-right"></span>
                                        {{ rule.id }} : {{ rule.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% set i = i + 1 %}
                {% endfor %}
            </nav>

            <section id="rules">
                {% for section, rules in sections %}
                    {% for rule in rules %}
                        <article id="{{ rule.id }}">
                            <div class="title">
                                <h3>{{ rule.id }} : {{ rule.title }}</h3>
                            </div>
                            <div class="description">
                                {{ rule.description|raw }}
                            </div>
                        </article>
                    {% endfor %}
                {% endfor %}
            </section>

            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>Code licensed under the <a target="_blank" href="http://en.wikipedia.org/wiki/Beerware">Beerware License</a>.
            </footer>
        </div>

        <div id="dialog" class="modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <div class="title"></div>
            </div>
            <div class="modal-body">
                <div class="description"></div>
            </div>
            <div class="modal-footer">
                <span data-dismiss="modal" class="btn">Fermer</span>
            </div>
        </div>

        <script type="text/javascript">
            $('.row').masonry({
                itemSelector: '.well'
            });
        </script>
    </body>
</html>
